DISCORD_TOKEN=MTIzMTI4NjE4MzI1NDgxOTA1Nw.GoxhVt.SvsJKkr74EIm4z8IAAtt4M4UFNfgw3IfzaejRE
MONGO_TOKEN=mongodb+srv://Animesh:<Animesh@1@2@3>@cluster0.mkkutxm.mongodb.net/?appName=Cluster0
GIPHY_TOKEN=fYGtxTMPPgnbN6qCVOXJDnji6vODbpZ8
WEBHOOK_ID=1491832777824538670
WEBHOOK_TOKEN=ZSCao6ETX80Lfva6vW4kqLEGwkdwPtsRzcowxMO4I0Ikvfe7C3Wu4k4R-XTgX-UW68
DISCORD_ID=
OWNER_ID=
GROQ=

# Not neccessary variables
DISCORD_STATUS="Listening to meself, i love you" # seprate by comma
RADIO="" # default to https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_live.mp3
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST="lava.link"
LAVALINK_PASSWORD="I'm a secret"
LAVALINK_PORT=80
LAVALINK_SECURE=false
